<h2>Switches Templates</h2>
<hr>

<form #switchTemplate="ngForm">

    <!-- Radios -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Gender</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" 
                        type="radio" 
                        value="M"
                        [(ngModel)]="user.gender"
                        name="radioGender" 
                        required
                        id="radioMan"
                >
                <label class="form-check-label" for="radioMan">
                  Man
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" 
                        type="radio"
                        value="W"
                        required
                        [(ngModel)]="user.gender"
                        name="radioGender" 
                        id="radioWoman"
                >
                <label class="form-check-label" for="radioWoman">
                  Woman
                </label>
              </div>
        </div>
    </div>

    <!-- Switches -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notifications</label>
        <div class="col-sm-9">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input" 
                        type="checkbox"
                        [(ngModel)]="user.notification"
                        name="notification"
                        id="flexSwitchCheckChecked"
                />
                <label class="form-check-label" for="flexSwitchCheckChecked">I want to receive notifications</label>
            </div>
        </div>
    </div>

    <!-- Checks -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Terms</label>
        <div class="col-sm-9">
            <div class="form-check">
                <input class="form-check-input" 
                    type="checkbox"
                    [(ngModel)]="terms" 
                    name="terms"
                    required
                    id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Terms
                </label>
            </div>
        </div>
    </div>

    <!-- Button -->
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    [disabled]="!switchTemplate.valid">
                Save
            </button>
        </div>
    </div>

</form>


<h4>Value Form</h4>
<pre>
    {{ switchTemplate.value | json }}
</pre>


<h4>Value Form User</h4>
<pre>
    {{ user | json }}
</pre>

<h4>Valid</h4>
<pre>
    {{ switchTemplate.valid | json }}
</pre>

<!-- <h4>Terms</h4>
<pre>
    {{ switchTemplate.controls['terms']?.errors | json }}
</pre> -->