<h2>Dynamic Reactive</h2>

<hr>

<form (ngSubmit)="save()" autocomplete="off" [formGroup]="myForm">

    <!-- Username -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">

            <input type="text"
                    class="form-control" 
                    formControlName="name"
                    placeholder="Username"
             />

            <span class="form-text text-danger"
                    *ngIf="fieldIsNotValid('name')"
            >
                This field is mandatory
            </span>

        </div>
    </div>

    <!-- Add fav -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">

            <div class="input-group">
                <input type="text"
                        class="form-control" 
                        [formControl]="newFavorite"
                        placeholder="Add favorite game"
                        (keyup.enter)="insertGame()"
                         />
                <button class="btn btn-outline-primary"
                        (click)="insertGame()"
                        type="button"
                >
                    Add
                </button>
            </div>

        </div>
    </div>

    <!-- List of videogames -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favorites</label>
        <div class="col-sm-9" formArrayName="favorites">

            <div class="input-group mb-1" 
                *ngFor="let favorite of favoritesArr.controls; let i = index;"
            >
                <input class="form-control" 
                    [formControlName]="i"
                    required/>
                <button class="btn btn-outline-danger"
                    type="button"
                    (click)="removeGame(i)"
                >
                    Delete
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit" 
                    class="btn btn-primary float-end">
                Save
            </button>
        </div>
    </div>

</form>

<span>Valid</span>
<pre>
    {{ myForm.valid }}
</pre>

<span>Value</span>
<pre>
    {{ myForm.value | json}}
</pre>

<span>Add</span>
<pre>
    {{ newFavorite.valid }}
    {{ newFavorite.value }}
</pre>
